.sequence-game-container {
    display: grid;
    place-items: center;
    grid-template-rows: 10% 20% 0 20%;
    height: 100vh;
    background-color: #a3c9ee;
}

.sequence-game-title {
    margin-bottom: 20px;
}

.sequence-game-question {
    font-size: 4vw;
    font-weight: bold;
    color: #333;
}

.sequence-game-answers {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sequence-game-button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #000000;
    background: #ddd; /* Default background */
}

.sequence-game-button:hover {
    transform: scale(1.1);
}

.sequence-game-button:disabled {
    opacity: 0.5;
}

.sequence-game-button.correct {
    background: #1dfd1d;
}

.sequence-game-button.incorrect {
    background: #f58181;
}

.sequence-game-feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 1s forwards;
}
.sequence-game-feedback.correct {
    color: rgba(18, 194, 18, 0.91);
}
.sequence-game-feedback.incorrect {
    color: #f58181;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.sequence-game-new-question {
    margin-top: 20px;
    z-index: 1;
}
