.all-alph {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 4px;
    padding: 20px;
    max-width: 100%;
}

.letterCircle {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    aspect-ratio: 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(2vw + 1vh);
    padding: 2px 8px;
    border-radius: 5px;
}

.letterCircle.Y, .letterCircle.Z {
    grid-column: span 2;
}

.letterCircle > .alph {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.letterCircle.selected {
    color: blue;
    background-color: yellow;
    border: 1px solid #000000;

}

.letterCircle.vowels {
    color: red;
}

.letterCircle.vowels.selected {
    color: red;
}