

.all-alph {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    text-align: center;
}

.letterCircle {
    cursor: pointer;
    border-radius: 25%;
  margin: 0 2px;
    padding: 5px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 2vw Arial, sans-serif;
}

.selected {
    cursor: default;
    border-radius: 25%;
    padding: 5px;
    background: rgb(159, 255, 156);
    border: 2px solid rgb(152, 236, 15);
    color: rgb(19, 58, 201);
    text-align: center;
    font: 2vw Arial, sans-serif;
}
.vowels{
    color: #ff0009;
}