.all-alph {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 4px;
    padding: 10px;
    max-width: 100%;
}

@media (max-width: 860px) {
    .all-alph {
        grid-template-columns: repeat(10, 0fr);
    }
}

@media (max-width: 660px) {
    .all-alph {
        grid-template-columns: repeat(6, 0fr);
    }

}
.center-div {
    margin: 0 auto;
}

.letterSquare {
    position: relative;
    cursor: pointer;
    background-color: #fcfbbd;
    border: 1px solid #ccc;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(2vw + 1vh);
    padding: 2px 8px;
    border-radius: 5px;
    width: 100%;
}

.letterSquare.Y, .letterSquare.Z {
    grid-column: span 2;
}

.letterSquare > .alph {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.letterSquare.selected {
    color: blue;
    background-color: yellow;
    border: 1px solid #000000;

}

.letterSquare.vowels {
    color: red;
}

.letterSquare.vowels.selected {
    color: red;
}