.wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  flex-flow: row nowrap;
  height: 100%;
}
.wrap-child-active-50 {
  flex-basis: 50%;
  font-size:30vw;
}
.wrap-child-active-25 {
  flex-basis: 25%;
  font-size:30vw;
  opacity: 0.1;
  text-decoration: none !important;
}
.wrap a{
  text-decoration: none;
  cursor: pointer;
}

.all-alph{
width: 100%;
  font-size:8vw;
  text-align: center;
  line-height: 25%;
}


.letterCircle {
  border-radius: 25%;
  height: 8vw;
  padding: 5px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font:   2vw Arial, sans-serif;
}

.selected {
  border-radius: 25%;
  height: 8vw;
  padding: 5px;
  background: rgb(159, 255, 156);
  border: 2px solid rgb(238, 65, 13);
  color: rgb(245, 19, 19);
  text-align: center;
  font:   2vw Arial, sans-serif;
}

