.wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  flex-flow: row nowrap;
  height: 100%;
}

.wrap-child-active-50 {
  flex-basis: 50%;
  font-size: 20vw;
  mix-blend-mode: difference;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
  1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.wrap-child-active-25 {
  flex-basis: 25%;
  font-size: 20vw;
  opacity: 0.1;
  text-decoration: none !important;
}
.wrap a {
  text-decoration: none;
  cursor: pointer;
}



.lower-upper-both {
  margin: 15px;
}
