.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: linear-gradient(
          289deg,
          #2056db,
          #db6420,
          #27790f,
          #97690c,
          #c311d5,
          #a15adb,
          #0f4c5f,
          #1c521c,
          #3f28c0,
          #ea0554,
          #155550,
          #6f742c
  );
  background-size: 2400% 2400%;

  -webkit-animation: fireBack 25s ease infinite;
  -moz-animation: fireBack 25s ease infinite;
  animation: fireBack 250s ease infinite;
}

@-webkit-keyframes fireBack {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@-moz-keyframes fireBack {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes fireBack {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}


.center-div{
    margin: 0 auto;
}